:root {
    --rojo: #dd2222;
    --rojo-resaltado: #d44c4c;
    --negro-texto: #474747;
    --naranja: #ff7300;
    --gris: #616161;
}

/* Fondo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.container {
    width: 90%
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    border-radius: 12px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
   color: var(--rojo);
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--negro-texto);
    color: white;
}

.search-box h1 {
    font-size: 2px;
}

.search-box button {
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: var(--rojo);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search-box button:hover {
    background: var(--rojo-resaltado);
}

.item-card {
    background: black;
    border-radius: 12px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.item-card:hover {
    transform: scale(1.02);
}

.item-card-2 {
    background: black;
    border-radius: 12px;
    padding: 15px 15px 3px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.item-card-2:hover {
    transform: scale(1.02);
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-info strong {
    font-size: 1.1em;
    color: white;
}

.item-actions a{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    background: var(--rojo);
    color: white;
    font-size: 0.9em;
    text-shadow: none;
}

.item-actions a:hover {
    background: var(--rojo-resaltado);
}

.btn-nuevo {
    display: block;
    margin: 20px auto;
    padding: 12px 20px;
    background: var(--rojo);
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
}

.a.btn-nuevo:hover {
    background: -var(--rojo-resaltado);
}

.btn-nuevo:hover {
    background: -var(--rojo-resaltado);
}

.search-row {
    display: flex;
    gap: 5px;
    align-items: center;
}

.search-row input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--negro-texto);
    color: white;
}

.search-row input[type="number"] {
    width: 120px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--negro-texto);
    color: white;
}

.search-row select {
    width: 100px;
    padding: 8px 12px;
    border: 2px solid var(--rojo);   /* borde verde */
    border-radius: 6px;
    background-color: var(--negro-texto);
    font-size: 14px;
    color: white;
    appearance: none;    /* quita la flechita nativa en la mayoría de navegadores */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.search-row button {
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: var(--rojo);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search-row button:hover {
    background: var(--rojo-resaltado);
}

.card-header, .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2px;
}

.card-header-2, .card-body-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.vacio {
    color: var(--gris);
}

.container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--rojo);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.container button:hover {
    background: var(--rojo-resaltado);
}

.search-row-2 {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.search-row-2 input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--negro-texto);
    color: white;
}

.search-row-2 input[type="number"] {
    width: 120px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--negro-texto);
    color: white;
}

.search-row-2 button {
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: var(--rojo);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search-row-2 button:hover {
    background: var(--rojo-resaltado);
}

.btn-container {
    /*min-width: 2px;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;            /* centra el botón dentro de su contenedor */
}